*{
    color: rgb(13, 151, 105);
}
button{
    color: rgb(31, 104, 168);
    background-color: rgb(167, 135, 94);
    text-align: center;
}
h1{
    color: rgb(164, 106, 19);
    font-weight: 300;
    text-align: center; 
    text-transform: capitalize;

    
}

h2,h3,h4{
    color: aqua;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
body{
    background-color: rgb(121, 118, 146);
    /* text-align: center; */
}
p{
    color: burlywood;
    font-weight: 900;
    text-align: center;
}
.myclass{
    color: brown;
    text-align: center;
}
#abc{
    color: darkred;
    text-align: center;
}